<section class="container">
<h1>Registros</h1>


    <div class="row">
        <form>
        <div class="form-group">
                <div class="col-md-3">   
                 <input type="text" class="form-control" [(ngModel)]="registro.nome" placeholder="Nome" name="nome"  >  
                </div>
        
                <div class="col-md-4">
                 <input type="text" name="telefone"  [(ngModel)]="registro.telefone" class="form-control"  placeholder="Telefone" id="">    
                </div>
        
                <div class="col-md-3">
                    <button  (click)="gravar()" *ngIf="!registro.id" class="btn btn-primary"  label="GRAVAR"> GRAVAR</button>
                    <button  (click)="update(registro.id)" *ngIf="registro.id"  class="btn btn-info"  label="Atualizar"> ATUALIZAR</button>
                </div>
            </div>
        </form>

    </div>

<h1>Informações dos registros</h1>
  
  

    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          
          <th>Nome</th>
          <th>Telefone</th>
          <th>EXCLUIR</th>
          <th>EDITAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of registros; let i=index">
          <td [innerText]="r.nome"></td>
          <td [innerText]="r.telefone"></td>
          <td><button class="btn btn-danger" (click)="deletar(r.id)" label="Excluir"> DELETAR</button></td>
          <td><button class="btn btn-default" (click)="buscar(r.id)" label="Editar"> EDITAR</button></td>
          
        </tr>
    </tbody>
   </table>
    </div>
</section>